/*
预处理
	sass
	less
	stylus

	编译Sass文件所需工具：
		gulp
		gulp-sass
*/	
@import 'reset.scss';
@import 'common.scss';	
header{
	background:url(../img/head_bg.jpg) no-repeat center;height:210px;
	position:relative;
	.search-bar{
		margin:0 auto;
		position:absolute;bottom: 38px;left: 440px;
		.text{
			width: 450px;height: 34px;padding-left: 12px;position: relative;background-color: #fff;line-height: 34px;color: rgb(51, 51, 51);
			font-size: 12px;
			border:bold 2px red;
		}
		.button{
			background: #dd0207;
		    width: 67px;
		    font-size: 15px;
		    color: #fff;
		    cursor: pointer;
		    line-height: 38px;
		    letter-spacing: 2px;
		    border-left: 1px solid #f45670;
		    float: right;
		    border: 0 none;
		}
		.hot-search a{
			font-size:14px;
			color:black;
		}
	}
}
.nav-bar{
		margin:0 auto;
		.cate-all{
			position: relative;
			font-size:17px;height:35px;line-height:35px;
			background:#dd0207;
			.nav{
				float:right;
				height:35px;
				width:990px;
				line-height:35px;
				font-size:17px;
				background:#dd0207;
				color:black;
				margin-right:80px;
				._banner{
					float:left;
					margin-left:40px;
					width:120px;
					a{
						color:yellow;
					}
				}	
			}
			.cl{
				padding-left:120px;
				float:left;
				color:white;
			}
		}
		.nav-content{
			
			
			
			.category{
				.mc{
					z-index:99;
					float:left;
					width:200px;
					height:80;
					background-color:#3c4750;
					position:absolute;
					left:82px;
					a{
						color:#e2e3e5;
					}
					.item{
						height:81.5px;
					}
				}
			}
		}	
}
.content_re{
	padding:10px;
	.floor-hd{
		position:relative;
		ul{
			float:left;
			li{
				float:left;
				boder:solid 2px 1px 1px 1px #fff;
				width:185px;
				height:35px;
				line-height:35px;
			}
		}
		.gengduo{
			float:right;
		}
	}
	.hot_recommand{
		.cl{
			li{
				float:left;
				padding:0 8px 10px 0;
			}
		}
	}
}
/*注册界面样式*/
.r_top{
	height:40px;
	background-color:#F7F7F7;
	line-height:40px;
	.collection{

	}
	.wrap{
		position:relative;
	}
	.top_left{
		float:right;
	}
}
.r_logo{
	position:relative;
	height:60px;
	padding:10px 0 10px 0;
	line-height:60px;
	.w_register{
		display:inline-block;
		width:156px;
		height:46px;
		font-size:30px;
		color:#545454;
		line-height:46px;
		font-weight:bold;
		margin-left:20px;
		background-color:#f1f1f1;
		position:relative;
		bottom:16px;
	}
}
.f_top{
	height:33px;
	background-color:#f1f1f1;
	position:relative;
	.register_top{
		position:absolute;
		bottom:0;
		right:0;
	}
}
.r_form{
	.cell-phone_item{
		height:70px;
		line-height:70px;
		
	}
	.gra_verification{
		height:70px;
		line-height:70px;
	}
	.set_password{
		height:70px;
		line-height:70px;
	}
	.confirm_password{
		height:70px;
		line-height:70px;
	}
	.phone_verification{
		height:70px;
		line-height:70px;
	}
	background-color:white;
	height:543px;
	padding:30px 0 20px 0;
	border:solid #dddddd 1px;
}
/*登录界面样式*/
.login{
	border:4px solid #e1e1e1;
	.l_form{
		height: 354px;
	    width: 321px;
	    overflow: hidden;
	    position: relative;
	    float:right;
	    margin:20px 50px 0 0;
		.tips{
			float:right;
		}
		.text-area{
			margin:10px 0;
			width:320px;
			height:40px;
			float:right;
			.text{
				width:320px;
				height:40px;
			}
		}
	}
}